* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    background-color: #212121;
    position: relative;
    overflow:hidden;
}

.container {
    position: relative;
    height: 100vh;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50% ,-50%);
    width: 100%;
}

.content_text {
    color: #212121;
}

.title {
    font-size: 5rem;
    user-select: none;
}

.cursor {
    height: 300px;
    width: 300px;
    background-color: rgba(165, 165, 165, 50%);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    position: absolute;
    z-index: -1;
}